
.cv-container{
    display: flex;
    justify-content: center;
    flex-direction:row;
    
    gap: 10px;
    flex-wrap: wrap;
}

.sections{
    display: flex;
 
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    max-width:500px ;
    min-width: 310px;
    border: 2px solid black;
}

.previewBox{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    max-width:900px ;
    min-width: 700px;
    min-height: 500px; 
}

@media screen and (max-width:1024px) {
   
    .previewBox{
        max-width: 600px;
        min-width: 600px;
        .jobDescp{
            max-width: 470px;
        }
    }
    .sections{
        max-width: 300px;
    }
}

@media screen and (max-width:769px) {
    .cv-container{
        align-items: center;
    }
    .previewBox{
        max-width: 600px;
        min-width: 600px;
        .jobDescp{
            max-width: 470px;
        }
    }
    .sections{
        max-width: 600px;
    }
}


@media only screen and (max-width:480px) {
    .cv-container{
        align-items: center;
    }
    .previewBox{
        max-width: 400px;
        min-width: 300px;
        .jobDescp{
            max-width: 380px;
        }
    }
    .sections{
        max-width: 310px;
    }
}
