

@mixin fontstyle1 {
   
        
        font-family: monospace;
        
    
}


div#preview {
    display: flex;
    gap: 20px;
    flex-direction: column;
    
    padding: 10px;
   
    div#aboutIn {
        display: flex;
        flex-direction: column;
        div#info {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 700px;
            gap:10px;
        }    
    }
    div#skillsBox {
        max-width: 700px;
        .DispSkills {
            display: flex;
            gap: 10px;
            .dispSkillTitle{
                @include fontstyle1();
            }
            .dispsklist{
                flex-wrap: wrap;
            }
        }

    }
    div#profExpBox {
        .DispProfExp {
            display: flex;
            flex-direction: column;
            max-width: 700px;
            .jobInfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                .titleside1 {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    
                }
                .titleside2 {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }
           .JobDescp {
            max-width: 700px;
                margin: 0px;
            } 
        }
        
    }
    div#eduBox {
        display: flex;
        flex-direction: column;
        .DispEdu {
            display: flex;
            flex-direction: column;
            
            p{
                margin:5px;
            }
            .titleside1 {
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                align-items: center;
            }
            .titleside2 {
                display: flex;
                align-content: center;
                /* justify-content: center; */
                align-items: center;
                gap: 10px;
            }
        }
    }
}

/*@media(max-width:1022px) and (max-width:1440px) {
    .previewBox{
        max-width: 500px;
        .jobDescp{
            max-width: 470px;
        }
    }
    .sections{
        max-width: 400px;
    }
}*/
@media screen and (max-width:1024px) {
    .jobDescp{
        max-width: 470px;
    }
}

@media screen and (max-width:769px) {
    .jobDescp{
        max-width: 470px;
    }
}
@media only screen and (max-width:480px) {
    .jobDescp{
        max-width: 380px;
    }
}